@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap');

/*  Variables   */

:root {
    --background-light-blue: #0d335f;
    --background-dark-blue: #0e284c;
    --light-color-blue: #5581ae;
    --white: #ffffff;
    --light-black: #17202A;
    --highlighted-color: #f9fafc;
}


html {
    font-size: 62.5%; /*10px*/
    font-family: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Header  */

.header {
    text-align: center;
    padding: 1rem 0;
    background: var(--background-light-blue);
    border-bottom: 5px solid var(--light-color-blue);
}

@media (min-width: 1024px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo{
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

@media (min-width: 1024px) {
    .logo {
        padding-left: 3rem;
    }

}

.navbar{
    display: none;
}

@media (min-width: 1024px){
    .navbar{
        display: block;
    }
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar-item a {
    text-decoration: none;
    margin: 0 3rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white);
    transition: 0.3s ease-in;
}

.navbar-item a:hover {
    color: var(--light-color-blue);
    transition: 0.3s ease-out;
}

/*  Main    */

.main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.main-video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.main-description {
    text-align: center;
    transform: translateY(18rem);
}

.main-description p {
    font-size: 2.8rem;
    color: var(--white);
    text-shadow: 2px 2px 0.5rem var(--light-black);
    margin: 1rem 0;
}

.primary-btn {
    display: inline-block;
    padding: 1.5rem;
    margin: 1rem 0;
    border: 1px solid var(--white);
    border-radius: 0.5rem;
    background: transparent;

    text-decoration: none;
    font-size: 2rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;

    transition: 0.3s ease-in;
}

.primary-btn:hover {
    background: var(--background-light-blue);
    border: none;
}

.primary-btn:active {
    background: var(--light-color-blue);
    box-shadow: 2px 2px 1rem var(--light-black);
}

@media (min-width: 1024px) {
    .main {
        padding: 4rem;
    }

    .main-description {
        transform: translateY(14rem);
    }

    .main-description p{
        font-size: 3.5rem;    
    }
    
}

/*  Footer  */

.footer {
    padding: 2.2rem 0;
    background: var(--background-dark-blue);
    border-top: 0.5rem solid var(--background-light-blue);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.4rem;

    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
